body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0078D7;
    color: white;
    padding: 20px;
}

button {
    background-color: #0078D7;
    color: white;
    border: none;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005A9E;
}
